@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

@font-face {
    font-family: KATO;
    src: url(../../../../assets/fonts/KATO____.ttf);
}


ion-header,ion-toolbar
{
    --background:  #FA5046;
}

ion-header ion-toolbar ion-title
{
    font-family: KATO;
    letter-spacing: 1px;
}

.pantalla
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgb(228, 224, 224);
}

.imagen-cerrar-sesion
{
    width: 40px;
}

.sin-fondo {
    --box-shadow: none;  
}

ion-content
{
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-label   
{
    font-family: 'Mate SC', serif;
}

.contenedor-personas
{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 35%;
    background-color: #FF695F;
    border-radius: 10px;
    border: 1px solid black;
}

.contenedor-personas ion-input
{
    width: 90%;
    height: 80%;
    --background: #FF8F82;
    --border-radius: 20px;
    font-size: 2rem;
    font-family: 'Mate SC', serif;
}

.contenedor-cant-personas
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boton-sumador
{
    --background: transparent;
    --box-shadow: transparent;
    height: 100%;
}

.sumador-personas
{
    font-size: 50px;
    color: #f7a49b;
}

.label-contador
{
    font-size: 30px;
}

.contenedor-imagen-origami
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-origami
{
    width: 50px;
}

.contenedor-qr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 80%;
    background-color: #FF695F;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  .boton-qr
  {
    font-weight: bold;
    width: 90%;
    height: 70%;
    --border-radius: 30px;
    --background: #FF8F82;
    font-family: KATO;
  }

  .contenedor-icon-qr
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .icon-qr
  {
    font-size: 70px;
  }

  /* POP UP */
  .popup
{
    position: absolute;
    width: 80%;
    height: 25%;
    backdrop-filter: blur(3px);
    background-color: #FA5046;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Mate SC', serif;
    padding: 2vh;
}

.popup ion-button
{
    font-family: KATO;
    --background: #FF8F82;
}

/* LECTOR QR */
.pantalla-scan
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.scan-box {
  position: absolute;
  top: 50%; /* posición vertical en el centro de la pantalla */
  left: 50%; /* posición horizontal en el centro de la pantalla */
  transform: translate(-50%, -50%); /* centrar el cuadrado */
  height: 270px;
  width: 270px;
  border: 2px solid #F7D6A1;
  border-radius: 10%;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.7);
}

.boton-cerrar {
    position: absolute;
    top: 0;
    right: 0;
  }


  /* SPINNER */
  .contenedor-spinner
{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}