<div class="pantalla">
  <h1>Registro de cliente</h1>
  
    <ion-button (click)="escanearDni()">Escanear DNI</ion-button>
  
  <form [formGroup]="formRegistro" (ngSubmit)="registrarCliente()">
      <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text"></ion-input>
      </ion-item>
  
      <small *ngIf=
          "formRegistro.controls['nombre'].errors?.['required'] &&
          (formRegistro.controls['nombre'].touched)">
          El nombre es requerido
      </small>
  
      <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido" type="text"></ion-input>
      </ion-item>
      <small *ngIf=
          "formRegistro.controls['apellido'].errors?.['required'] &&
          (formRegistro.controls['apellido'].touched)">
          El apellido es requerido
      </small>
  
      <ion-item>
          <ion-label position="floating">DNI</ion-label>
          <ion-input formControlName="dni" type="number"></ion-input>
      </ion-item>
      <small *ngIf=
          "formRegistro.controls['dni'].errors?.['required'] &&
          (formRegistro.controls['dni'].touched)">
          El DNI es requerido
      </small>
      <small *ngIf=
          "formRegistro.controls['dni'].errors?.['pattern'] &&
          (formRegistro.controls['dni'].touched)">
          El DNI debe tener 8 dígitos<br>
          (colocar un 0 adelante si tiene 7)
      </small>
  
      <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <small *ngIf=
          "formRegistro.controls['email'].errors?.['required'] &&
          (formRegistro.controls['email'].touched)">
          El correo electrónico es requerido
      </small>
      <small *ngIf=
          "formRegistro.controls['email'].errors?.['pattern'] &&
          formRegistro.controls['email'].touched">
          El correo electrónico no tiene un formato válido
      </small>
  
      <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <small *ngIf=
          "formRegistro.controls['password'].errors?.['required'] &&
          (formRegistro.controls['password'].touched)">
          La contraseña es requerida
      </small>
      <small *ngIf=
          "formRegistro.controls['password'].errors?.['pattern'] &&
          (formRegistro.controls['password'].touched)">
          La contraseña requiere mínimo 6 caracteres
      </small>

      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input formControlName="confirmarPassword" type="password"></ion-input>
      </ion-item>
    
    <div class="registrar">
      <ion-button routerLink="/login">CANCELAR</ion-button>
      <ion-button type="submit">CONTINUAR</ion-button>
    </div>
  </form>
</div>