<ion-fab *ngIf="!spinner" vertical="start" horizontal="end" >
  <ion-fab-button color="none" (click)="popup = true">
    <img src="../../../../assets/inicio-cliente/cerrar-sesion.png" alt="Cerrar sesión">
  </ion-fab-button>
</ion-fab>

<ion-header [translucent]="true" *ngIf="!spinner">
  <ion-toolbar>
    <ion-title class="ion-text-center">MESA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pantalla">
    
    
  </div>

  <div class="contenedor-spinner" *ngIf="spinner">
    <app-spinner></app-spinner>
  </div>

  <div class="popup" *ngIf="popup">
    <h4>¿Desea cerrar sesión?</h4>
    <div class="botonera-popup">
      <ion-button (click)="popup = false">CANCELAR</ion-button>
      <ion-button (click)="cerrarSesion()">ACEPTAR</ion-button>
    </div>
  </div>

</ion-content>