<ion-fab *ngIf="!spinner && !menu && !carrito && !chequearPedido && !scannerActive" vertical="start" horizontal="start" >
  <ion-fab-button color="none" (click)="logout = true">
    <img src="../../../../assets/inicio-cliente/cerrar-sesion.png" alt="Cerrar sesión">
  </ion-fab-button>
</ion-fab>

<ion-fab  *ngIf="menu || carrito || chequearPedido" class="volver" vertical="start" horizontal="start" >
  <ion-fab-button color="none" (click)="menu = false; carrito = false; chequearPedido = false">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-header [translucent]="true" *ngIf="!spinner || !scannerActive">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!scannerActive">

  <div class="pantalla principal" *ngIf="!menu && !carrito && !chequearPedido && !pedirCuenta">
    <ion-card>
      <ion-card-content>
        <ion-button routerLink="/chat">CONSULTA AL MOZO</ion-button>
        <img src="../../../assets/icon/icon.png" alt="Logo Bianluca">
    
        <div class="accion-pedidos" *ngIf="!hayPedido">
          <ion-text>No hay pedidos activos</ion-text>
          <ion-button (click)="menu = true">REALIZAR PEDIDO</ion-button>
        </div>
        <div class="accion-pedidos" *ngIf="hayPedido && !cuentaPagada">
          <ion-text>Escanee el QR de su mesa para ver el estado del pedido</ion-text>
          <ion-button class="boton-scan" (click)="startScanner()">
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="accion-pedidos" *ngIf="cuentaPagada">
          <ion-text>¡Gracias por su visita!</ion-text>
          <ion-text>Escanee el QR de lista de espera para visualizar los resultados de las encuestas</ion-text>
          <ion-button class="boton-scan" (click)="startScanner()">
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="pantalla" *ngIf="menu">
    
    <h2>COMIDAS</h2>
    <div class="card" *ngFor="let comida of listaComidas; let i = index">
      <ion-card>
        <ion-card-header>
          <div class="imagenes">
            <ion-thumbnail *ngFor="let imagen of comida.images">
              <img [src]="imagen"/>
            </ion-thumbnail>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>{{comida.nombre}}</ion-card-title>
          <ion-card-subtitle>${{comida.precio}}</ion-card-subtitle>
          <div class="cantidad">
            <ion-button class="boton-cantidad" (click)="restarCantidad(comida)" [disabled]="comida.cantidad == 0">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-label>{{comida.cantidad}}</ion-label>
            <ion-button class="boton-cantidad" (click)="sumarCantidad(comida)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <h2>BEBIDAS</h2>
    <div class="card" *ngFor="let bebida of listaBebidas; let i = index">
      <ion-card>
        <ion-card-header>
          <div class="imagenes">
            <ion-thumbnail *ngFor="let imagen of imagenesBebida[i]">
              <img [src]="imagen"/>
            </ion-thumbnail>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>{{bebida.nombre}}</ion-card-title>
          <ion-card-subtitle>${{bebida.precio}}</ion-card-subtitle>
          <div class="cantidad">
            <ion-button class="boton-cantidad" (click)="restarCantidad(bebida)" [disabled]="bebida.cantidad == 0">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-label>{{bebida.cantidad}}</ion-label>
            <ion-button class="boton-cantidad" (click)="sumarCantidad(bebida)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <h2>POSTRES</h2>
    <div class="card" *ngFor="let postre of listaPostres; let i = index">
      <ion-card>
        <ion-card-header>
          <div class="imagenes">
            <ion-thumbnail *ngFor="let imagen of imagenesPostre[i]">
              <img [src]="imagen"/>
            </ion-thumbnail>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>{{postre.nombre}}</ion-card-title>
          <ion-card-subtitle>${{postre.precio}}</ion-card-subtitle>
          <div class="cantidad">
            <ion-button class="boton-cantidad" (click)="restarCantidad(postre)" [disabled]="postre.cantidad == 0">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-label>{{postre.cantidad}}</ion-label>
            <ion-button class="boton-cantidad" (click)="sumarCantidad(postre)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div class="pantalla carrito" *ngIf="carrito">
    <ion-card>
      <ion-card-header>
        <ion-card-title>DETALLE DEL PEDIDO</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div class="item-pedido" *ngFor="let item of pedido">
          <ion-label>{{item.nombre}} x{{item.cantidad}}</ion-label>
          <ion-label>${{item.precio}}</ion-label>
        </div>

        <hr>
        <ion-label>TOTAL: ${{precioTotal}}</ion-label>
        <div class="botones-detalle">
          <ion-button (click)="carrito = false; menu = true">VOLVER</ion-button>
          <ion-button (click)="confirmarPedido(pedido)">CONFIRMAR</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="pantalla hay-pedido" *ngIf="chequearPedido">
    <ion-card>
      <ion-card-header>
        <ion-card-title>SU PEDIDO</ion-card-title>
        <ion-card-subtitle>Estado: {{pedidoActual.estado}}</ion-card-subtitle>
        <ion-card-subtitle>Demora estimada: {{pedidoActual.demora}} minutos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <div class="item-pedido" *ngFor="let item of pedidoActual.items">
          <ion-label>{{item.nombre}} x{{item.cantidad}}</ion-label>
          <ion-label>${{item.precio}}</ion-label>
        </div>

        <hr>
        <ion-label>TOTAL: ${{pedidoActual.precio}}</ion-label>
        <div class="botones-detalle">
          <ion-button *ngIf="pedidoActual.estado == 'Entregado'"
          (click)="confirmarRecepcionPedido()">CONFIRMAR RECEPCIÓN</ion-button>
          <ion-button *ngIf="pedidoActual.estado == 'Recibido'"
          (click)="pedirCuenta = true; chequearPedido = false">PEDIR LA CUENTA</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button routerLink="/encuesta-cliente">COMPLETAR ENCUESTA</ion-button>
  </div>

  <div class="pantalla pedir-cuenta" *ngIf="pedirCuenta">

    <ion-text>Escanee el QR de la propina que quiera dar</ion-text>
    <ion-button class="boton-scan" (click)="startScanner()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>

    <ion-card>
      <ion-card-header>
        <ion-card-title>RESUMEN DE SU PEDIDO</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div class="item-pedido" *ngFor="let item of pedidoActual.items">
          <ion-label>{{item.nombre}} x{{item.cantidad}}</ion-label>
          <ion-label>${{item.precio}}</ion-label>
        </div>

        <hr>
        <div class="dinero">
          <ion-label>SUBTOTAL: ${{pedidoActual.precio}}</ion-label>
          <ion-label>PROPINA: ${{propina}} ({{porcentajePropina}}%) - {{mensajePropina}}</ion-label>
          <ion-label>TOTAL: ${{pedidoActual.precio + propina}}</ion-label>
        </div>
        <div class="botones-detalle">
          <ion-button [disabled]="!escaneoPropina" (click)="pagarPedido()">PAGAR</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="contenedor-spinner" *ngIf="spinner">
    <app-spinner></app-spinner>
  </div>  
</ion-content>

<ion-footer *ngIf="precioTotal > 0 && !carrito && !scannerActive">
  <ion-toolbar>
    <div>
      <ion-title>SUBTOTAL $ {{precioTotal}}</ion-title>
      <ion-button (click)="generarDetallePedido()">AGREGAR<br>AL CARRITO</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<div class="popup" *ngIf="popup && !scannerActive">
  <h4>{{mensajePopup}}</h4>
  <ion-button (click)="popup = false">ACEPTAR</ion-button>
</div>

<div class="popup" *ngIf="logout && !scannerActive">
  <h4>¿Desea cerrar sesión?</h4>
    <div class="botonera-popup">
      <ion-button (click)="logout = false">CANCELAR</ion-button>
      <ion-button (click)="cerrarSesion()">ACEPTAR</ion-button>
    </div>
</div>

<div *ngIf="scannerActive" class="pantalla-scan">
  <div class="scan-box"></div>
  <ion-button (click)="stopScan()" class="boton-cerrar">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</div>