<ion-content [fullscreen]="true">
  <div class="pantalla">
    <div class="clara-huevo">
      <h1>Iniciar sesión</h1>
      <form [formGroup]="formLogin" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="email" type="email" [disabled]="popup"></ion-input>
        </ion-item>
        <small
          *ngIf="
          formLogin.controls['email'].errors?.['required'] &&
          (formLogin.controls['email'].touched)">
          El correo electrónico es requerido
        </small>
        <small
          *ngIf="
          formLogin.controls['email'].errors?.['pattern'] &&
          formLogin.controls['email'].touched">
          El correo electrónico no tiene un formato válido
        </small>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" [disabled]="popup"></ion-input>
        </ion-item>

        <small
          *ngIf="
          formLogin.controls['password'].errors?.['required'] &&
          (formLogin.controls['password'].touched)">
          La contraseña es requerida
        </small>
        <small
          *ngIf="
          formLogin.controls['password'].errors?.['pattern'] &&
          (formLogin.controls['password'].touched)">
          La contraseña requiere mínimo 6 caracteres
        </small>

        <ion-text>Si no te registraste, podés hacerlo <a routerLink="/registro">acá</a></ion-text>
        <ion-text><a routerLink="/dueno-supervisor">lala</a></ion-text>
        
        <div class="yema-huevo">
          <ion-button type="submit"
          [disabled]="popup">INGRESAR</ion-button>
        </div>
      </form> 
    </div>
  </div>
  <div class="contenedor-spinner" *ngIf="spinner">
    <app-spinner></app-spinner>
  </div>

  <div class="popup" *ngIf="popup">
		<h3>{{mensajePopup}}</h3>
    <ion-button (click)="popup = false">ACEPTAR</ion-button>
	</div>
</ion-content>