<ion-content [fullscreen]="true">
  <div class="pantalla">
    <h1>INICIAR SESIóN</h1>
    <form>
      <ion-item class="input">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <div>
        <small>
          &#9888; Debe ingresar un correo electrónico
        </small>
        <small>
          &#9888; El correo electrónico no tiene un formato válido (ejemplo@ejemplo.com)
        </small>
      </div>
      <ion-item class="input">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div>
        <small>
          &#9888; Debe ingresar una contraseña
        </small>
      </div>
      <div class="boton-redondo">
        <ion-button type="submit">INGRESAR</ion-button>
      </div>

    </form> 
  </div>
</ion-content>
