@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

@font-face {
    font-family: KATO;
    src: url(../../../assets/fonts/KATO____.ttf);
}

.pantalla
{
    min-height: 100%;
    background-color: #FF8F82;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.pantalla .clara-huevo
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 110vmin;
    height: 160vmin;
    background-color: whitesmoke;
    box-shadow: inset -30px -15px 30px rgba(0, 0, 0, 0.2), 20px 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 40% 60% 38% 62% / 30% 45% 55% 70% ;
    font-family: 'Mate SC', serif;
}

.pantalla .clara-huevo form
{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.pantalla .clara-huevo h1
{
    text-transform: uppercase;
    font-family: KATO;
}

.pantalla .clara-huevo form ion-item
{
    width: 80%;
    margin: 10px;
    border-radius: 50px;
    --background: lightgray;
    --color: black;
}

.pantalla .clara-huevo form ion-item ion-label
{
    font-family: 'Mate SC', serif;
}

.pantalla .clara-huevo form ion-item ion-input
{
    --border: none;
    font-family: 'Mate SC', serif;
}

.pantalla .clara-huevo form .yema-huevo ion-button
{
    background-color: rgb(253, 216, 53);
    --background: transparent;
    --box-shadow: none;
    box-shadow: inset -30px -15px 30px rgba(0, 0, 0, 0.25);
    height: 150px;
    width: 150px;
    color: white;
    border-radius: 45% 55% 42% 58% / 51% 55% 45% 49% ;
    font-size: 1.2em;
    font-family: KATO;
    margin: 5vh 0 0 15vw;
}

small
{
    background-color: #FA5046;
    color: white;
    padding: 0 5px;
}

.contenedor-spinner
{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.popup
{
    position: absolute;
    width: 80%;
    height: 25%;
    backdrop-filter: blur(3px);
    background-color: #FF8F82;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Mate SC', serif;
    padding: 2vh;
}

.popup ion-button
{
    font-family: KATO;
    --background:#FA5046;
}

ion-fab
{
    font-family: KATO;
}

ion-fab ion-fab-button
{
    width: 115px;
    --border-radius: 5%;
    --background: #FA5046;
}

ion-fab ion-icon
{
    padding-right: 2vw;
}

ion-fab ion-fab-list ion-button
{
    font-family: KATO;
    --background: #FA5046;
    width: 150px;
}

.audioFab {
    ion-fab-button {
        --border-radius: 100%;
        width: 60px;
        height: 60px;
    }
}

.googleSignIn{
    --border-radius: 25px;
}