@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: KATO;
    src: url(../../../assets/fonts/KATO____.ttf);
}

@-webkit-keyframes scale-out-vertical{0%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}100%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}}@keyframes scale-out-vertical{0%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}100%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}}
.container-h1,.container-h
{
    -webkit-animation:scale-out-vertical 1s cubic-bezier(.55,.085,.68,.53) 3.8s both;animation:scale-out-vertical 1s cubic-bezier(.55,.085,.68,.53) 3.8s both;
    h1, h2
    {
        font-family: 'KATO';
        color: #f3d9d9;
        text-align: center;
        font-size: 35px;
        letter-spacing: 0.5px;
    }
}

span
{
    font-family: 'Dancing Script', cursive;
}

.container-h1
{
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    margin-top: 65px;
}
@-webkit-keyframes rotate-scale-down{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(.5) rotateZ(180deg);transform:scale(.5) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}@keyframes rotate-scale-down{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(.5) rotateZ(180deg);transform:scale(.5) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}
.container
{
    -webkit-animation:rotate-scale-down .65s linear 1.8s both;animation:rotate-scale-down .65s linear 1.8s both;
    img
    {
        /*height: 165px;*/
        width: 145px;
        margin-top: 10px;
        margin-right: 10px;
    }
}


ion-content
{
   --background: #FF8F82;
}
