<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">PEDIDOS BARRA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="pantalla">
    <h4 class="ion-text-center">PEDIDOS EN PREPARACIÓN</h4>
    <div class="card" *ngFor="let pedido of listaPedidosBartender">
      <ion-card *ngIf="!pedido.terminado">
        <ion-card-header>
          <ion-card-title>Mesa: ?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="pedido" *ngFor="let item of pedido.items">
            <h6>{{item.nombre}}</h6>
            <span>x{{item.cantidad}}</span>
          </div>
          <ion-button (click)="terminarPedido(pedido)">TERMINAR PEDIDO</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="contenedor-spinner" *ngIf="spinner">
    <app-spinner></app-spinner>
  </div>
</ion-content>

