<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">DUEÑO/SUPERVISOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tabla">
    <div class="encabezado-tabla">
        <img class="logo" src="../../../../assets/icon/icon.png" alt="Icono empresa">
        <h3>Clientes en espera</h3>
    </div>
    <div class="seccion-tabla">
        <table>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of listaClientes">
                  <td><img [src]="cliente.imagen" alt="Imagen cliente"></td>
                  <td>{{cliente.nombre}}<br>{{cliente.apellido}}</td>
                  <td>{{cliente.email}}</td>
                  <td>
                    <div class="botonera">
                      <ion-button class="boton-aceptar" (click)="aceptarCliente(cliente)"></ion-button>
                      <ion-button class="boton-denegar" (click)="rechazarCliente(cliente)"></ion-button>
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="contenedor-pop-up" class="esconder pop-up">
        <h4>Razones del rechazo</h4>
        <input class="input-razones" type="text" placeholder="Razones...">
        <ion-button class="boton-razones" (click)="cerrarPopUp()">Enviar</ion-button>
    </div>
  </div>
</ion-content>
