<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">DUEÑO/SUPERVISOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tabla">
    <div class="encabezado-tabla">
        <img class="logo" src="../../../../assets/icon/icon.png" alt="Icono empresa">
        <h3>CLIENTES EN ESPERA</h3>
    </div>
    <div class="seccion-tabla">
        <table>
            <thead>
                <tr>
                    <th>IMAGEN</th>
                    <th>NOMBRE</th>
                    <th>CORREO</th>
                    <th>ACCIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of listaClientes">
                  <td><img [src]="cliente.imagen" alt="Imagen cliente"></td>
                  <td>{{cliente.nombre}}<br>{{cliente.apellido}}</td>
                  <td>{{cliente.email}}</td>
                  <td>
                    <div class="botonera">
                      <ion-button class="boton-aceptar" (click)="aceptarCliente(cliente)"></ion-button>
                      <ion-button class="boton-denegar" (click)="rechazarCliente(cliente)"></ion-button>
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="contenedor-pop-up" class="esconder pop-up">
      <form [formGroup]="formPopUp" (ngSubmit)="enviarRazones()">
        <h4>Razones del rechazo</h4>
        <input formControlName="razones" class="input-razones" type="text" placeholder=" Explicar razones">
        <small
              class="mensaje-error"
              *ngIf="
              formPopUp.controls['razones'].errors?.['required'] &&
              (formPopUp.controls['razones'].touched || razonesTouched)">
              Debe indicar las razones
        </small>
        <small
            class="mensaje-error"
            *ngIf="formPopUp.controls['razones'].errors?.['minlength'] ||
                    (formPopUp.controls['razones'].errors?.['maxLength'] &&
                    formPopUp.controls['razones'].touched)">
              Debe tener un mínimo de 10 carácteres y máximo 40    
        </small>
        <ion-button class="boton-razones" type="submit">Enviar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
