<ion-header [translucent]="true" *ngIf="!spinner">
  <ion-toolbar>
    <ion-title class="ion-text-center">PEDIDOS MOZO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab class="chat" *ngIf="!spinner" vertical="start" horizontal="end">
  <ion-fab-button color="none" routerLink="/chat">
    <ion-icon name="chatbubble"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab  vertical="start" horizontal="start" *ngIf="!spinner">
  <ion-fab-button color="none" (click)="popup = true" class="sin-fondo">
    <img class="imagen-cerrar-sesion" src="../../../../assets/inicio-cliente/cerrar-sesion.png" alt="Cerrar sesión">
  </ion-fab-button>
</ion-fab>

<ion-content>
  <div class="pantalla" *ngIf="pantalla=='solicitados'">
    <h4 class="ion-text-center">PEDIDOS SOLICITADOS</h4>
    <div class="card" *ngFor="let pedido of pedidosSolicitados">
      <ion-card >
        <ion-card-header>
          <ion-card-title>Mesa: que mas aplauda</ion-card-title>
          <ion-card-subtitle>
            <span>Estado pedido:</span>  
            <span class="estado-pedido">{{pedido.estado}}</span>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="pedido" *ngFor="let item of pedido.items">
            <h6>{{item.nombre}}</h6>
            <span>x{{item.cantidad}}</span>
          </div>
          <ion-button (click)="listarPedido(pedido)">TOMAR PEDIDO</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <!-- PEDIDOS TERMINADOS -->
  <div class="pantalla" *ngIf="pantalla=='terminado'">
    <h4 class="ion-text-center">PEDIDOS TERMINADOS</h4>
    <div class="card" *ngFor="let pedido of pedidosTerminado">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mesa: ?.</ion-card-title>
          <ion-card-subtitle>Estado pedido: {{pedido.estado}}.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="pedido" *ngFor="let item of pedido.items">
            <h6>{{item.nombre}}</h6>
            <span>x{{item.cantidad}}</span>
          </div>
          <ion-button mode="md" (click)="entregarPedido(pedido)">ENTREGAR</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <!-- PEDIDOS EN PREPARACIÓN -->
  <div class="pantalla" *ngIf="pantalla=='en preparacion'">
    <h4 class="ion-text-center">PEDIDOS EN PREPARACIÓN</h4>
    <div class="card" *ngFor="let pedido of pedidosEnPreparacion">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mesa: ?.</ion-card-title>
          <ion-card-subtitle>Estado pedido: {{pedido.estado}}.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="pedido" *ngFor="let item of pedido.items">
            <h6>{{item.nombre}}</h6>
            <span>x{{item.cantidad}}</span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="contenedor-spinner" *ngIf="spinner">
    <app-spinner></app-spinner>
  </div>
  <div class="popup" *ngIf="popup">
    <h5>¿Desea cerrar sesión?</h5>
    <div class="botonera-popup">
      <ion-button (click)="popup = false">CANCELAR</ion-button>
      <ion-button (click)="cerrarSesion()">ACEPTAR</ion-button>
    </div>
  </div>
</ion-content>

<!-- SEGMENT -->
<ion-segment>
  <ion-segment-button (click)="pantalla = 'solicitados'">
    <img class="imagen-segment" src="../../../../assets/mozo/comida-solicitada.png" alt="Comida solicitada">
    <span class="span-segment">SOLICITADOS</span>
  </ion-segment-button>
  
  <ion-segment-button (click)="pantalla = 'en preparacion'">
    <img class="imagen-segment" src="../../../../assets/mozo/comida-en-preparacion.png" alt="Comida en preparacion">
    <span class="span-segment">EN PREPARACIÓN</span>
  </ion-segment-button>

  <ion-segment-button (click)="pantalla = 'terminado'">
    <img class="imagen-segment" src="../../../../assets/mozo/comida-terminada.png" alt="Comida terminada">
    <span class="span-segment">TERMINADOS</span>
  </ion-segment-button>
</ion-segment>